[features]
seeds = false
skip-lint = false

[programs.localnet]
ai_debates = "DbateArenaXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[programs.devnet]
ai_debates = "DbateArenaXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[programs.mainnet]
ai_debates = "DbateArenaXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000

[test.validator]
url = "https://rpc.mainnet.x1.xyz/"
